@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');
:root {
    --background-default: #13131F;
    --purple-background: #8257E6;
    --purple-background-2: #4b289b;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
html,
body {
    width: 100%;
    height: 100vh;
    background-color: var(--background-default);
}
body::-webkit-scrollbar {
    height: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #3a3a3a6e;
    margin: 2px 0;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--purple-background);
}
a {
    text-decoration: none;
}